/* Admin Global Styles */

import './admin-layout.css';
import './admin-sidebar.css';
import './admin-header.css';
import './admin-dashboard.css';
import './admin-products.css';
import './admin-customers.css';
import './admin-orders.css';
